<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
</head>
<style>
.div8
{
    background-color:#F8F8FF; 
    border-style: solid;
    margin-left: 300px;
    margin-right: 300px;
   }
.div9
{
    background-color:#F8F8FF;
} 
 blink, .blink {
            animation: blinker 1s linear infinite;
        }

       @keyframes blinker {  
            50% { opacity: 0; }
       }
a:link, a:visited {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: gray;
}


</style>
<body>
<div class="div9">
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="div8">
<center>
<h1 style="color:gray;">
Hi {{userr.name}}
</h1>
<h2 style="color:#9ACD32">
    <blink>Successully Added to your meal !</blink>
</h2>
 



<a href="bill1-{{userr.U_name}}">Generate Bill</a>

        <br>
    <br>
    <br>

<a href="cancel1-{{userr.U_name}}">Cancel Meal</a>




</center>
<br>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
</html>
